services:
  # docker compose up --build --no-log-prefix -d
  # docker compose exec demo sh

  demo:
    build:
      context: .
      dockerfile: Dockerfile

    stdin_open: true
    tty: true

    entrypoint: [./demo]

    environment:
      DATA_PATH: ./data

    volumes:
      - ./data:/app/data:rw

    models:
      chat-model:
        endpoint_var: ENGINE_URL
        model_var: CHAT_MODEL_ID

models:

  chat-model:
    model: hf.co/menlo/jan-nano-gguf:q4_k_m
    #model: hf.co/menlo/jan-nano-128k-gguf:q4_k_m
    #context_size: 8192
    #context_size: 16384
    context_size: 32768
