# docker compose up --build -d
# docker compose exec -it agent-service /bin/sh
# docker compose exec agent-service /bin/sh
# docker compose exec agent-service ./chat-agent

services:
  agents-service:
    build:
      context: .
      dockerfile: Dockerfile

    # For interactive CLI agents
    stdin_open: true
    tty: true

    ports:
      - 8080:8080

    configs:
      - source: orchestrator.instructions.md
        target:
          /app/orchestrator.instructions.md
      - source: agent-routing.json
        target:
          /app/agent-routing.json

    environment:
      # Application configuration
      NOVA_LOG_LEVEL: INFO

    models:

      coder-model:
        endpoint_var: ENGINE_URL      # Environment variable for LLM endpoint
        model_var: CODER_MODEL_ID

      generic-model:
        endpoint_var: ENGINE_URL      # Environment variable for LLM endpoint
        model_var: GENERIC_MODEL_ID

      orchestrator-model:
        endpoint_var: ENGINE_URL      # Environment variable for LLM endpoint
        model_var: ORCHESTRATOR_MODEL_ID  

      compressor-model:
        endpoint_var: ENGINE_URL      # Environment variable for LLM endpoint
        model_var: COMPRESSOR_MODEL_ID  

  # bob-agent:
  #   image: docker/cagent:1.20.4
  #   environment:
  #     OPENAI_API_KEY: none
  #   configs:
  #     - source: bob.yaml
  #       target:
  #         /app/bob.yaml

  #   command: ["run", "/app/bob.yaml"]

  #   tty: true
  #   stdin_open: true  

  #   depends_on:
  #     - agents-service

configs:
  orchestrator.instructions.md:
    content: |
      You role is to identify the topic of a conversation.
      Possible topics: 
      - Coding,
      - Code,
      - Software,
      - Debugging,
      - Computing, 
      - Programming,
      - Development,
      - Technology,
      - Tools,
      - Read,
      - Write,
      - Command,
      - Run,
      - Bash
      Respond in JSON with the field 'topic_discussion'.
  agent-routing.json:
    content: |
      {
        "routing": [
          {
            "topics": ["coding", "programming", "development", "code", "software", "debugging", "technology", "computing"],
            "agent": "coder"
          },
          {
            "topics": ["health", "science", "mathematics", "philosophy", "food", "education"],
            "agent": "generic"
          },
          {
            "topics": ["read", "list", "write", "command"],
            "agent": "generic"
          }
        ],
        "default_agent": "generic"
      }


  # bob.yaml:
  #   content: |
  #     #version: 1
  #     agents:        
  #       root:
  #         model: openai/crew
  #         instruction: You are a helpful coding assistant
  #         provider:
  #           base_url: http://agents-service:8080/v1

models:

  coder-model:
    model: hf.co/qwen/qwen2.5-coder-3b-instruct-gguf:q4_k_m
    context_size: 32768

  generic-model:
    model: hf.co/menlo/jan-nano-gguf:q4_k_m
    context_size: 32768

  orchestrator-model:
    #model: hf.co/menlo/lucy-gguf:q4_k_m
    model: ai/qwen2.5:1.5B-F16
    context_size: 32768

  compressor-model:
    model: ai/qwen2.5:1.5B-F16
    context_size: 32768
